 /* Color pallet #7C9473 #CFDAC8 #E8EAE6 #CDD0CB */


h1{
  margin-top: 0px;
  font-family: 'Sacramento',cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container{
  background-color: #CFDAC8;
  position: relative;
  padding-top: 100px;
}

.middle-container{
}

.bottom-container{
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}